@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Outfit', sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: hsl(212, 45%, 89%);
}

h2 {
  color: hsl(218, 44%, 22%);
}

p {
  font-size: 15px;
  color: hsl(220, 15%, 55%);
}

a {
  font-size: 11px;
  text-align: center;
  color: hsl(228, 45%, 44%);
  font-weight: bold;
}